<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet access for QuantumPay backend -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Biometric authentication -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!--
        SMS permission.
        This will be used by the automatic SMS-analysis feature.
        The runtime permission will be requested by the Android SMS receiver
        implementation when we add it.
    -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:label="QuantumPay"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter launch theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- REQUIRED: makes QuantumPay appear as an Android app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <receiver
    android:name=".SmsReceiver"
    android:exported="true">
    <intent-filter android:priority="999">
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
    </intent-filter>
</receiver>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Required by Flutter's ProcessTextPlugin -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>